/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* CONTAINER */
.container {
    widows: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* NAVBAR */
.nav {
    position: fixed;
    width: 100%;
    /* background-color: black; */
    padding: 0px 50px;
}

.nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 100px;
}

.nav-links {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 250px;
}

#nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}

/* HERO */
.hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/hero-stock.jpeg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-content-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #eeeeee;
    /* background-color: blue; */
}

#hero-content-slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #e2e2e2;
    /* background-color: blue; */
}

.hero-content-buttons {
    /* background-color: blue; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#hero-content-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #e5383b;
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.1s ease-in-out;
}

#hero-content-button:hover {
    background-color: #e5383b;
}

/* MAIN */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ABOUT */
#about {
    /* max-width: 600px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    margin: 50px 0px;
}

#about-header {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ba181b;
}

#about-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #e5383b;
    margin: 20px 0px;
}

#about-bio {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8d99ae;
    line-height: 30px;
}

/* PACKAGES */
#packages-header {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ba181b;
}

#packages-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #e5383b;
    margin: 20px 0px;
}