/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --clr-light-theme: #e5383b;
    --clr-dark-theme: #ba181b;
    --clr-light-white: #ffffff;
    --clr-dark-white: #f5f3f4;
    --clr-light-black: #7a7a7a;
    --clr-dark-black: #000000;

    /* Font Families */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    /* Font Weight */
    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

    /* Transition */
    --transition: 0.25s ease-in-out;
}

/* HTML */
html {
    background-color: #fafafa;
    scroll-behavior: smooth;
}

/* CONTAINER */
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* NAV */
.nav {
    position: fixed;
    width: 100%;
    padding: 1rem 3rem;
    transition: var(--transition);
    z-index: 100;
}

.nav.scrolled {
    background-color: rgba(220, 223, 229, 0.95);
}

.nav.scrolled #nav-link,
.nav.scrolled #bars-icon {
    color: var(--clr-dark-black);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content img {
    width: 4.5rem;
}

#nav-link {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-white);
    font-size: 1rem;
    margin: 0 1rem;
    transition: var(--transition);
    position: relative;
}

#nav-link:hover {
    color: var(--clr-light-white);
}

#nav-link::after {
    content: '';
    position: absolute;
    background-color: var(--clr-light-theme);
    width: 0%;
    height: 0.125rem;
    left: 0;
    bottom: -0.125rem;
    border-radius: 30px;
    transition: var(--transition);
}

#nav-link:hover::after {
    width: 100%;
}

#bars-icon {
    display: none;
    color: var(--clr-light-white);
}

.mobile-nav {
    background-color: #dcdfe5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
}

.mobile-nav.active {
    transform: translateY(0%);
}

.mobile-nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.mobile-nav-header img {
    width: 3.5rem;
}

.mobile-nav-header i {
    font-size: 2rem;
    cursor: pointer;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.mobile-nav-link {
    width: fit-content;
    margin-bottom: 1.5rem;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1.5rem;
}

.mobile-nav-link:hover {
    text-decoration: underline;

}

/* NAV media queries */
@media (max-width: 650px) {
    .nav {
        padding: 1rem 2rem;
    }

    .nav-content img {
        width: 3.5rem;
    }

    .nav-links {
        display: none;
    }

    #bars-icon {
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
    }
}

/* HERO */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/hero.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 3rem;
}

.hero-content {
    text-align: center;
}

#hero-content-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-light-white);
    font-size: 4rem;
}

#hero-content-slogan {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-white);
    font-size: 2rem;
}

.hero-content-buttons {
    margin-top: 2rem;
}

#hero-content-button {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-light-white);
    font-size: 1rem;
    background-color: var(--clr-light-theme);
    padding: 0.75rem 1.75rem;
    border-radius: 3.5rem;
    margin: 0 1rem;
    transition: var(--transition);
}

#hero-content-button:hover {
    background-color: var(--clr-dark-theme);
}

/* HERO media queries */
@media (max-width: 650px) {
    #hero-content-title {
        font-size: 2.5rem;
    }

    #hero-content-slogan {
        font-size: 1.5rem;
    }
}

@media (max-width: 390px) {
    .hero-content-buttons {
        display: flex;
    }
}

/* ABOUT */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 6rem 0;
}

.about-header {
    text-align: center;
    margin-bottom: 2rem;
}

.about-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1rem;
}

.about-sub {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color: var(--clr-light-theme);
    font-size: 2rem;
}

.about-card-img-wrap {
    width: fit-content;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.about-image {
    max-width: 20rem;
    border-radius: 1rem;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.about-content {
    max-width: 40rem;
    height: fit-content;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-list {
    width: fit-content;
    margin-top: 2rem;
}

.about-list-item {
    display: flex;
    padding: 0.4rem 0;
}

.about-list-item i {
    color: var(--clr-light-theme);
    font-size: 1.5rem;
}

.about-list-item p {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-light-black);
    font-size: 1rem;
    margin-left: 1rem;
}

.about-bio {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1.1rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

/* ABOUT media queries */
@media (max-width: 1135px) {
    #about {
        padding: 3rem 3rem;
    }

    .about-card-img-wrap {
        width: 100%;
        justify-content: center;
    }

    .about-image {
        display: none;
    }
}

@media (max-width: 500px) {
    .about-list-item i {
        font-size: 1.3rem;
    }

    .about-list-item p {
        font-size: 0.8rem;
    }

    .about-bio {
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    .about-list {
        margin-top: 1rem;
    }
}

/* PACKAGES */
#packages {
    padding: 7rem 0 0;
}

.packages-header {
    text-align: center;
    margin-bottom: 1rem;
}

.packages-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1rem;
}

.packages-sub {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color: var(--clr-light-theme);
    font-size: 2rem;
}

.swiper {
    max-width: 70rem;
}

.swiper-mobile {
    display: none;
}

:root .swiper-desktop,
:root .swiper-mobile {
    padding: 1rem 1rem 2rem;
}

:root .swiper-slide {
    height: auto;
    width: 20rem;
}

:root .swiper-button-next,
:root .swiper-button-prev {
    color: var(--clr-light-theme);
}

:root .swiper-pagination {
    --swiper-theme-color: var(--clr-light-theme);
}

.package-card {
    background-color: var(--clr-light-white);
    width: 20rem;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.package-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.package-card-heading {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1.25rem;
    color: var(--clr-dark-theme);
    text-align: center;
}

.package-card-options {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.package-card-option {
    text-align: center;
    margin-bottom: 1rem;
}

.option-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1rem;
    color: var(--clr-dark-black);
}

.option-price {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1.5rem;
    color: var(--clr-light-theme);
}

.package-card-list {
    padding-top: 1rem;
    border-top: 0.1rem solid #dee2e6;
    margin-bottom: 1rem;
}

.package-card-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.package-card-list-item .fa-circle-check {
    color: #aaf683;
    font-size: 1.25rem;
}

.package-card-list-item .fa-shield {
    color: #70d6ff;
    font-size: 1.25rem;
}

.package-card-list-item p {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    font-size: 1rem;
    color: #6c757d;
    margin-left: 0.5rem;
}

.package-card-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.package-card-button button {
    background-color: var(--clr-light-theme);
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1rem;
    color: var(--clr-light-white);
    transition: var(--transition);
}

.package-card-button button:hover {
    background-color: var(--clr-dark-theme);
}

/* package modal form */
.packages-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    z-index: 110;
    display: none;
}

.packages-overlay.active {
    display: flex;
}

.packages-modal {
    background-color: var(--clr-light-white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    width: 40rem;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
}

.packages-modal i {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--clr-light-black);
    font-size: 1.5rem;
    cursor: pointer;
}

.service-input {
    display: flex;
    flex-direction: column;
}

.service-input label {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#service-request {
    color: #6c757d;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 4.5rem;
    border: 0.09rem solid #dee2e6;
}

.name-number-input {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.input-group label {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#name,
#number {
    color: var(--clr-dark-black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 4.5rem;
    border: 0.09rem solid #dee2e6;
    outline: none;
}

.packages-form button {
    margin-top: 2rem;
    background-color: var(--clr-light-theme);
    border: none;
    width: 100%;
    color: var(--clr-light-white);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: 4.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.packages-form button:hover {
    background-color: var(--clr-dark-theme);
}

@media(max-width: 560px) {
    .packages-modal {
        width: 100%;
        padding: 2rem;
    }

    .name-number-input {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
    }

    #name {
        margin-bottom: 2rem;
    }
}

/* packages media queries */
@media (max-width: 1000px) {
    .swiper-desktop {
        display: none;
    }

    .swiper-mobile {
        display: flex;
    }
}

/* GALLERY */
#gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 6rem 0;
}

.gallery-header {
    text-align: center;
    margin-bottom: 2rem;
}

.gallery-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1rem;
}

.gallery-sub {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color: var(--clr-light-theme);
    font-size: 2rem;
}

.gallery-card-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-card {
    width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.gallery-card img {
    width: 100%;
    display: block;
}

.gallery-card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.gallery-card-overlay p {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color: var(--clr-light-white);
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--clr-light-white);
    border-radius: 0.5rem;
    cursor: pointer;
}

.gallery-card:hover .gallery-card-overlay {
    opacity: 1;
}

/* modal */
.modal-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 2rem;
    display: none;
    z-index: 105;
}

.modal-overlay.active {
    display: flex;
}

.gallery-modal {
    background-color: #ffffff;
    max-width: 60rem;
    height: 35rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
}

.swiper-gallery {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media(max-width: 1100px) {
    .gallery-modal {
        max-width: 55rem;
        height: 30rem;
    }
}

@media(max-width: 1000px) {
    .gallery-modal {
        width: 100%;
        height: 25rem;
    }
}

@media(max-width: 600px) {
    .gallery-modal {
        height: 20rem;
    }
}

@media(max-width: 500px) {
    #gallery {
        padding: 7rem 3rem 2rem;
    }

    .gallery-modal {
        height: 15rem;
    }

    .gallery-card {
        width: 100%;
    }
}

/* FAQ */
#faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 4rem 2rem;
}

.faq-header {
    text-align: center;
}

#faq-title {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-size: 1rem;
    font-weight: var(--fw-700);
}

#faq-sub {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-size: 2rem;
    font-weight: var(--fw-500);
}

.faq-list {
    margin-top: 3rem;
    max-width: 50rem;
}

.faq-list-item {
    width: 100%;
    background-color: var(--clr-light-white);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
    cursor: pointer;
    border-radius: 0.7rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.faq-list-item.active .faq-icon {
    transform: rotate(-180deg);
}

.faq-list-item.active .faq-answer {
    max-height: 20rem;
}

.faq-list-item-question {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.faq-question {
    font-family: var(--ff-roboto);
    font-size: 1rem;
    font-weight: var(--fw-500);
    color: var(--clr-dark-black);
}

.faq-icon {
    font-size: 1.25rem;
    color: #6c757d;
    transition: 0.5s ease-in-out;
}

.faq-answer {
    font-family: var(--ff-roboto);
    font-size: 1rem;
    font-weight: var(--fw-300);
    color: #6c757d;
    line-height: 1.3rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

/* FOOTER */
footer {
    background-color: #dcdfe5;
    padding: 3rem 6rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
}

#content-heading {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer-contact {
    text-align: center;
}

.footer-contact a,
.footer-contact p:not(#content-heading) {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-links {
    text-align: center;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link a {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-service {
    text-align: center;
}

.footer-service p:not(#content-heading) {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.footer-form {
    text-align: center;
    width: 20rem;
    /* background-color: #aaf683; */
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 0.5rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--clr-dark-black);
    color: var(--clr-dark-black);
    padding: 0.5rem 0;
    resize: none;
    font-size: 1rem;
    font-family: var(--ff-poppins);
}

.footer-form button {
    background: none;
    border: none;
    outline: none;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-light-white);
    font-size: 0.8rem;
    background-color: var(--clr-light-theme);
    padding: 0.5rem 1.5rem;
    border-radius: 3.5rem;
    transition: var(--transition);
    margin-top: 0.5rem;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: var(--clr-dark-theme);
}

#my-footer-form-status {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-top: 1rem;
}

/* FOOTER media queries */
@media (max-width: 1200px) {
    /* .footer-content {
        flex-direction: column;
        align-items: center;
    } */

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .footer-contact, .footer-links {
        margin-bottom: 2rem;
        width: fit-content;
    }

    #content-heading {
        margin-bottom: 0.5rem;
    }

    .footer-contact a,
    .footer-contact p:not(#content-heading) {
        margin: 0;
    }

    .footer-link a {
        margin: 0;
    }

    .footer-service p:not(#content-heading) {
        margin: 0;
    }

    .footer-form {
        width: 15rem;
    }
}

@media (max-width: 800px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-service {
        margin-bottom: 2rem;
    }
}