/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root {
    /* Colors */
    --clr-light-theme: #e5383b;
    --clr-dark-theme: #ba181b;
    --clr-light-white: #ffffff;
    --clr-dark-white: #f5f3f4;
    --clr-light-black: #7a7a7a;
    --clr-dark-black: #000000;

    /* Font Families */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    /* Font Weight */
    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

    /* Transition */
    --transition: 0.25s ease-in-out;
}

/* HTML */
html {
    background-color: #fafafa;
    scroll-behavior: smooth;
}

/* CONTAINER */
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* NAV */
.nav {
    position: fixed;
    width: 100%;
    padding: 1rem 3rem;
    transition: var(--transition);
    z-index: 100;
}

.nav.scrolled {
    background-color: rgba(220, 223, 229, 0.95);
}

.nav.scrolled #nav-link,
.nav.scrolled #bars-icon {
    color: var(--clr-dark-black);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content img {
    width: 4.5rem;
}

/* .nav-links {} */

#nav-link {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-white);
    font-size: 1rem;
    margin: 0 1rem;
    transition: var(--transition);
    position: relative;
}

#nav-link:hover {
    color: var(--clr-light-white);
}

#nav-link::after {
    content: '';
    position: absolute;
    background-color: var(--clr-light-theme);
    width: 0%;
    height: 0.125rem;
    left: 0;
    bottom: -0.125rem;
    border-radius: 30px;
    transition: var(--transition);
}

#nav-link:hover::after {
    width: 100%;
}

#bars-icon {
    display: none;
    color: var(--clr-light-white);
}

.mobile-nav {
    background-color: #dcdfe5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
}

.mobile-nav.active {
    transform: translateY(0%);
}

.mobile-nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 0.15rem solid #6c757d;
}

.mobile-nav-header img {
    width: 3.5rem;
}

.mobile-nav-header i {
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-nav-links {
    /* background-color: #aaf683; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.mobile-nav-link {
    width: fit-content;
    margin-bottom: 1.5rem;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1.5rem;
}

.mobile-nav-link:hover {
    text-decoration: underline;

}

/* NAV media queries */
@media (max-width: 650px) {
    .nav {
        padding: 1rem 2rem;
    }

    .nav-content img {
        width: 3.5rem;
    }

    .nav-links {
        display: none;
    }

    #bars-icon {
        font-size: 1.5rem;
        cursor: pointer;
        display: flex;
    }
}

/* HERO */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/hero.jpg);
    /* background-image: url(./img/hero.jpg); */
    background-position: center;
    background-size: cover;
    padding: 0 3rem;
}

.hero-content {
    text-align: center;
}

#hero-content-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-light-white);
    font-size: 4rem;
}

#hero-content-slogan {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-300);
    color: var(--clr-dark-white);
    font-size: 2rem;
}

.hero-content-buttons {
    margin-top: 2rem;
}

#hero-content-button {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-light-white);
    font-size: 1rem;
    background-color: var(--clr-light-theme);
    padding: 0.75rem 1.75rem;
    border-radius: 3.5rem;
    margin: 0 1rem;
    transition: var(--transition);
}

#hero-content-button:hover {
    background-color: var(--clr-dark-theme);
}

/* HERO media queries */
@media (max-width: 650px) {
    #hero-content-title {
        font-size: 2.5rem;
    }

    #hero-content-slogan {
        font-size: 1.5rem;
    }
}

/* MAIN */
.main {
    width: 100%;
    /* padding: 3rem 6rem; */
    padding: 3rem 0;
}

/* MAIN media queries */
/* @media (max-width: 825px) {
    .main {
        padding: 3rem 3rem;
    }
} */

/* ABOUT */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 6rem;
}

.about-header {
    text-align: center;
}

#about-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1rem;
}

#about-sub {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    color: var(--clr-light-theme);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-card-img-wrap {
    width: 65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    max-width: 20rem;
    border-radius: 1rem;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.about-content {
    max-width: 40rem;
    height: fit-content;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-list {
    width: fit-content;
    margin-top: 2rem;
}

.about-list-item {
    display: flex;
    padding: 0.4rem 0;
}

.about-list-item i {
    color: var(--clr-light-theme);
    font-size: 1.5rem;
}

.about-list-item p {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-light-black);
    font-size: 1rem;
    margin-left: 1rem;
}

#about-bio {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1.1rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

/* ABOUT media queries */
@media (max-width: 1135px) {
    #about {
        padding: 3rem 3rem;
    }

    .about-card-img-wrap {
        width: 100%;
        justify-content: center;
    }

    .about-image {
        display: none;
    }
}

@media (max-width: 500px) {
    .about-list-item i {
        font-size: 1.3rem;
    }

    .about-list-item p {
        font-size: 0.8rem;
    }

    #about-bio {
        font-size: 0.9rem;
    }
}


/* PACKAGES */
#packages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.packages-header {
    text-align: center;
}

#packages-title {
    color: #ba181b;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#packages-sub {
    color: #e5383b;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.packages-plans {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.plans-card {
    background-color: #ffffff;
    width: 23rem;
    padding: 2.5rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

#heading-title {
    color: #ba181b;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.sizes {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    /* padding: 1rem 0; */
}

.row1, .row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    /* background-color: cadetblue; */
    width: 50%;
}

/* .row2 {
    display: flex;
} */

.sizes-heading {
    /* background-color: brown; */
    margin-top: 1.25rem;
    text-align: center;
}

#sizes-title {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

#sizes-price {
    color: #e5383b;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* #heading-price {
    color: #e5383b;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.5rem;
} */

.card-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.feature {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#feature-icon {
    color: #aaf683;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

#feature-icon-protect {
    color: #70d6ff;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

/* do feature-icon for check and plus */

#feature-title {
    color: #6c757d;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#card-btn {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #e5383b;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#card-btn:hover {
    background-color: #ba181b;
}

/* GALLERY */
#gallery {
    /* background-color: aqua; */
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.gallery-content {
    width: 65rem;
    /* background-color: brown; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.gallery-card {
    width: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    /* cursor: pointer; */
}

.gallery-card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    display: none;
}

.gallery-card:hover>.gallery-card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-card img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.gallery-card p {
    color: var(--clr-light-white);
    border: 1px solid var(--clr-light-white);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: var(--transition);
}

.gallery-card p:hover {
    color: var(--clr-dark-black);
    background-color: var(--clr-light-white);
}

/* FAQ */
#faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.faq-header {
    text-align: center;
}

#faq-title {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-size: 1rem;
    font-weight: var(--fw-700);
}

#faq-sub {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-size: 2rem;
    font-weight: var(--fw-500);
}

.faq-list {
    margin-top: 3rem;
    max-width: 50rem;
}

/* .faq-list-item1,
.faq-list-item2,
.faq-list-item3,
.faq-list-item4,
.faq-list-item5 {
    width: 100%;
    background-color: var(--clr-light-white);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
    cursor: pointer;
    border-radius: 0.7rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
} */

.faq-list-item {
    width: 100%;
    background-color: var(--clr-light-white);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
    cursor: pointer;
    border-radius: 0.7rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.faq-list-item.active .faq-icon {
    transform: rotate(-180deg);
}

.faq-list-item.active .faq-answer {
    max-height: 20rem;
}

.faq-list-item-question {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.faq-question {
    font-family: var(--ff-roboto);
    font-size: 1rem;
    font-weight: var(--fw-500);
    color: var(--clr-dark-black);
}

.faq-icon {
    font-size: 1.25rem;
    color: #6c757d;
    transition: 0.5s ease-in-out;
}

/* .faq-icon.active {
    transform: rotate(-180deg);
} */

.faq-answer {
    font-family: var(--ff-roboto);
    font-size: 1rem;
    font-weight: var(--fw-300);
    color: #6c757d;
    line-height: 1.3rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

/* .faq-answer.active {
    max-height: 20rem;
} */

/* #faq-icon1,
#faq-icon2,
#faq-icon3,
#faq-icon4,
#faq-icon5 {
    font-size: 1.25rem;
    color: #6c757d;
    transition: 0.5s ease-in-out;
}

#faq-icon1.active,
#faq-icon2.active,
#faq-icon3.active,
#faq-icon4.active,
#faq-icon5.active {
    transform: rotate(-180deg);
}

#faq-answer1,
#faq-answer2,
#faq-answer3,
#faq-answer4,
#faq-answer5 {
    font-family: var(--ff-roboto);
    font-size: 1rem;
    font-weight: var(--fw-300);
    color: #6c757d;
    line-height: 1.3rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

#faq-answer1.active,
#faq-answer2.active,
#faq-answer3.active,
#faq-answer4.active,
#faq-answer5.active {
    max-height: 20rem;
} */

/* FOOTER */
footer {
    background-color: #dcdfe5;
    padding: 3rem 6rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

#content-heading {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    color: var(--clr-dark-theme);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer-contact {
    text-align: center;
}

.footer-contact a,
.footer-contact p:not(#content-heading) {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-links {
    text-align: center;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link a {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-service {
    text-align: center;
}

.footer-service p:not(#content-heading) {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    color: var(--clr-dark-black);
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.footer-form {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 0.5rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--clr-dark-black);
    color: var(--clr-dark-black);
    padding: 0.5rem 0;
    resize: none;
    font-size: 1rem;
}

.footer-form button {
    background: none;
    border: none;
    outline: none;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    color: var(--clr-light-white);
    font-size: 0.8rem;
    background-color: var(--clr-light-theme);
    padding: 0.5rem 1.5rem;
    border-radius: 3.5rem;
    transition: var(--transition);
    margin-top: 0.5rem;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: var(--clr-dark-theme);
}

/* FOOTER media queries */
@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact, .footer-links, .footer-service {
        margin-bottom: 1.4rem;
        width: fit-content;
    }

    #content-heading {
        margin-bottom: 0.5rem;
    }

    .footer-contact a,
    .footer-contact p:not(#content-heading) {
        margin: 0;
    }

    .footer-link a {
        margin: 0;
    }

    .footer-service p:not(#content-heading) {
        margin: 0;
    }

    .footer-form {
        width: 15rem;
    }
}