* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: #fafafa;
}

.faq {
    /* background-color: coral; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.faq-header {
    /* background-color: cornflowerblue; */
    text-align: center;
}

#faq-title {
    color: #ba181b;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#faq-sub {
    color: #e5383b;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.faq-list {
    /* background-color: darkcyan; */
    margin-top: 3rem;
    width: 60%;
}

.faq-list-item {
    width: 100%;
    /* height: auto; */
    height: 5rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 0.2);
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1.25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    /* position: relative; */
}

.faq-list-item.active {
    height: 10rem;
    /* transition: height 0.25s ease-in-out; */
    /* height: fit-content; */
}

.faq-list-item-question {
    /* background-color: darkkhaki; */
    display: flex;
    justify-content: space-between;
}

#faq-question {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

#faq-icon {
    font-size: 1.25rem;
    color: #6c757d;
    transition: 0.25s ease-in-out;
}

#faq-icon.active {
    transform: rotate(-180deg);
}

/* .faq-list-item-answer {
    padding: 1rem 1rem 0 1rem;
    transition: 0.3s ease-in-out;
}

.faq-list-item-answer.active {

} */

#faq-answer {
    /* background-color: blue; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #6c757d;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    /* display: none; */
}

#faq-answer.active {
    /* display: flex; */
}